{% extends "main.html" %}
{% block maincontent %}

        <div id="navigation">

       </div>
<!-- End Main Nav -->
  </div>
</div>
<!-- End Header -->

<!-- Container -->
<div id="container">
  <div class="shell">
  <!-- Message OK -->
  {% if success %}
  <div class="msg msg-ok">
    <p><strong>{{ message}}</strong></p>
  </div>
  {% endif %}
  <!-- End Message OK -->
  <!-- Message Error -->
  {% if failed %}
		<div class="msg msg-error">
			<p><strong>{{ message }}</strong></p>

		</div>
		<!-- End Message Error -->
   {% endif %}
    <!-- Content -->
      <div id="small-content" >
      <!-- Box -->
        <div class="box" >
      <!-- Box Head -->
          <div class="box-head">
            <h2 class="center">Login</h2>

          </div>

          <!-- End Box Head -->
          <!-- Form -->
            <div class="form">
            <form method="POST" action="/login">
                <p>
                  <div>{{ form.email.label }} {{ form.email(class="field size3") }}</div>
                  {% if form.email.errors %}
                    <ul class="errors">{% for error in form.email.errors %}{{ error }}{% endfor %}</ul>
                  {% endif %}
                </p>
                <p>
                    <div>{{ form.password.label }} {{ form.password(class="field size3") }}</div>
                    {% if form.password.errors %}
                  <ul class="errors">{% for error in form.password.errors %}{{ error }}{% endfor %}</ul>
                {% endif %}
                </p>
            </div>
            <!-- End Form -->

            <!-- Form Buttons -->
            <div class="buttons">

              <input type="submit" class="button" value="Login" />
              <a href="/forgot">Forgot password</a>
            </form>
            </div>
            <!-- End Form Buttons -->
          </form>
        </div>
        <!-- End Box -->

      	</div>
        <!-- End content -->
              <div class="cl">&nbsp;</div>
              </div>
    <!-- Main -->
            </div>
             <!-- End Shell -->
          </div>

{% endblock %}
