{% extends "main.html" %}
{% block maincontent %}
<script>$('#logs').toggleClass('active')</script>

<!-- Container -->
<div id="container">
  <div class="shell">

  <!-- Message OK -->
    {% if success %}
    <div class="msg msg-ok">
      <p><strong>{{ message}}</strong></p>
    </div>
    {% endif %}
    <!-- End Message OK -->
     <!-- Message Error -->
    {% if failed %}
    <div class="msg msg-error">
      <p><strong>{{ message }}</strong></p>
    </div>
    {% endif %}
    <!-- End Message Error -->
    <!-- Content -->
      <div id="content">
        <!-- Box -->
        <div class="box">
      <!-- Box Head -->
          <div class="box-head">
            <h2 class="left">User Events</h2>

          </div>

          <!-- End Box Head -->
        <!-- Table -->
         <div class="log-table">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="sortable">
              <tr>
                <th width="600px">User</th>
                <th width="100px">Action</th>
                <th width ="30px" >(GMT)</th>
                <th>By</th>
                <th></th>
              </tr>
            {% for event in user_events %}
              <tr>
                <td>{{event.event}}</td>
                <td>{{event.transaction}}</td>
                <td>{{event.time_stamp}}</td>
                <td>{{event.user}}</td>
              </tr>
              {% endfor %}
              </table>
              </div>
               <!-- Close Table-->
            </div>
             <!-- End Box -->
             <!-- Box -->
        <div class="box">
      <!-- Box Head -->
          <div class="box-head">
            <h2 class="left">Session Events</h2>

          </div>

          <!-- End Box Head -->
        <!-- Table -->
          <div class="log-table">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="sortable">
              <tr>
                <th width="600px">Session</th>
                <th width="100px">Action</th>
                <th width ="30px" >(GMT)</th>
                <th>By</th>
                <th></th>
              </tr>
            {% for event in session_events %}
              <tr>
                <td>{{event.event}}</td>
                <td>{{event.transaction}}</td>
                <td>{{event.time_stamp}}</td>
                <td>{{event.user}}</td>
              </tr>
              {% endfor %}
              </table>
              </div>
               <!-- Close Table-->
            </div>
             <!-- End Box -->
             <!-- Box -->
        <div class="box">
      <!-- Box Head -->
          <div class="box-head">
            <h2 class="left">Presentation Events</h2>

          </div>

          <!-- End Box Head -->
        <!-- Table -->
             <div class="log-table">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="sortable">
              <tr>
                <th width="600px">Presentation</th>
                <th width="100px">Action</th>
                <th width ="30px" >(GMT)</th>
                <th>By</th>
                <th></th>
              </tr>
            {% for event in file_events %}
              <tr>
                <td>{{event.event}}</td>
                <td>{{event.transaction}}</td>
                <td>{{event.time_stamp}}</td>
                <td>{{event.user}}</td>
              </tr>
              {% endfor %}
              </table>
              </div>
               <!-- Close Table-->
            </div>
             <!-- End Box -->
      </div>
    </div>
  </div>

{% endblock %}
