{% extends "main.html" %}
{% block maincontent %}
       
<!-- End Main Nav -->
  </div>
</div>
<!-- End Header -->

<!-- Container -->
<div id="container">
  <div class="shell">     
    <!-- Message OK -->   
    {% if success %}
    <div class="msg msg-ok">
      <p><strong>{{ message}}</strong></p>
    </div>
    {% endif %}
    <!-- End Message OK -->   
     <!-- Message Error -->
    {% if failed %}
    <div class="msg msg-error">
      <p><strong>{{ message }}</strong></p>
    </div>
    {% endif %}
    <!-- End Message Error -->
  <!-- Message OK -->   
   <!-- <div class="msg msg-ok">
      <p><strong>{% autoescape off %}{{ message }}{% endautoescape %}</strong></p>
      
    </div>-->

    <!-- End Message OK -->   
    <!-- Content -->
      <div id="content">
      </div>   
    </div>
  </div>
          
{% endblock %}
