body
{
  font-family: sans-serif; font-size: 14px; width: 800px; margin: 0 auto; padding: 10px;
  background-color: #c0c0c0;
}
.error{
  color: red; font-size: 20px
}
input[type=submit]{
  font-size: 24px;
}
