{% extends "main.html" %}
{% block maincontent %}
<div class ="col-md-12">
	<h1>View Conference Speakers</h1>
</div>
<div class = "row-fluid">
	<div class = "col-xs-2"><label class = "title">First Name</label>		</div>
	<div class = "col-xs-2"><label class = "title">Last Name</label>		</div>
	<div class = "col-xs-6"><label class = "title">Session Name</label>	</div>
	<div class = "col-xs-2"><label class = "title">Room</label>					</div><br>
				{% for conference_presenter in conference_presenters %}
	<div class = "col-xs-2"><label>{{conference_presenter.firstname}}</label></div>
	<div class = "col-xs-2"><label>{{conference_presenter.lastname}}</label></div>
	<div class = "col-xs-6"><label>{{conference_presenter.session_name}}</label></div>
	<div class = "col-xs-2"><label>{{conference_presenter.session_room}}</label></div><br>

{% endfor %}
</div>
{% endblock %}
