{% extends "main.html" %}
{% block maincontent %}
        <div id="navigation">
      
       </div>
<!-- End Main Nav -->
  </div>
</div>
<!-- End Header -->

<!-- Container -->
<div id="container">
  <div class="shell">     

  <!-- Message OK -->   
    <div class="msg msg-ok">
      <p><strong>Page Not Found<a href="{{uri_for('sessions')}}">Return Home</a></strong></p>
      
    </div>
    <!-- End Message OK -->   
    <!-- Content -->
      <div id="content">
      </div>   
    </div>
  </div>
          
{% endblock %}