{% extends "main.html" %}

{% block title %}Register a new user{% endblock %}

{% block maincontent %}

<h1>Activate Account</h1>
<form action="/activate" method="POST">
  <label for="email">Email address</label>
  <input type="text" name="email" />
  <label for="password">Password</label>
  <input type="password" name="password" />
  <label for="verify">Verify Password</label>
  <input type="password" name="verify" />
  <label for="name">Name</label>
  <input type="text" name="name" />
  <label for="lastname">Last Name</label>
  <input type="text" name="lastname" />
  <input type="submit" value="Create user" />
</form>

{% endblock %}
