<!DOCTYPE html>

<html>

<head>
    <title align = "center">New Equipment Entry</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">


</head>

<body>

        <h1>
           Asset Entry
        </h1>

<form method="post">
    <br>
    <label>Manufacturer</label>
    <form method = "post">
    <select name = "manufacturer">
        <label>Manufacturer</label>
        {% for manufacturer in manufacturer_list %}
        <option>{{manufacturer}}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Lookup" />
</form>
<form method="post">


        <br>
    <label>Model</label>
    <select name = "model" >

        {% for models in model_list %}
        <option>{{models}}</option>
        {% endfor %}
    </select>

    <br>
    <br>
    <label>Barcode Number</label>
            <br>
    <input type = "text"  name = "barcode" value = {{barcode}}>
            <br>
    <label class = "error">{{error_barcode}}</label>

    <label>Asset Comments</label>
            <br>
            <br>
    <textarea name = "asset_comments" cols = "60" rows = "20" >{{asset_comments}}</textarea>
            <br>

    <input type = "submit">

</form>

</html>
