<!DOCTYPE html>

<html>

<head>
    <title align = "center">New Equipment Entry</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">    
<style type = "text/css">
        body
        {
            font-family: sans-serif; font-size: 14px; width: 800px; margin: 0 auto; padding: 10px; bgcolor = "silver"
        }
        .error{
        color: red; font-size: 20px
        }
        input[type=submit]{
        font-size: 24px;
        }
</style>

</head>

<body bgcolor = "white">

        <h1>
           New Unit Entry
        </h1>

<form method="post">

    <label>Barcode Number</label>
            <br>
    <input type = "text" size="80" name = "barcode" value = {{barcode}}>
            <br>
     <label class = "error">{{error_barcode}}</label>
            <br>

    <label>Manual URL</label>
            <br>
            <br>
    <input type = "text" size="80" name = "manual_url" value = {{manual_url}}>
            <br>
    <label class = "error">{{error_manual_url}}</label>
            <br>

    <label>Equipment Manufacturer</label>
            <br>
            <br>
    <input type = "text" size="80" name = "manufacturer" value = {{manufacturer}}>
            <br>
     <label class = "error">{{error_manufacturer}}</label>
            <br>

    <label>Equipment Model</label>
            <br>
            <br>
    <input type = "text" size="80" name = "model" value = {{model}}>
            <br>
    <label class = "error">{{error_model}}</label>
            <br>

    <label>Kit Contents</label>
            <br>
            <br>
    <textarea name = "kit_contents" cols = "60" rows = "20" >{{kit_contents}}</textarea>
            <br>
    <label class = "error">{{error_contents}}</label>
            <br>

    <label>QC Process</label>
            <br>
            <br>
    <textarea name = "qc_process" cols = "60" rows = "20" >{{qc_process}}</textarea>
            <br>
        <label class = "error">{{error_process}}</label>
            <br>

    <input type = "submit">

</form>

</html>
