{% extends "main.html" %}
{% block maincontent %}
        <h1>Administration</h1>
        <body>
            <a href = "/admin/upload_conference_data/">Upload Conference Data</a><br>
            <a href = "/admin/view_conference_data">View Conference Data</a><br>
            <a href = "/admin/display_all">Display All</a><br>
            <a href = "/admin/delete_conference_data">Delete Conference Data</a><br>
            <a href = "/admin/add_presenter">Add Presenter</a><br>
            <a href = "/admin/manage_user/">Manager Users</a><br>


        </body>

</html>
{% endblock %}
