<!DOCTYPE html>

<html>
    <head>
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/main.css" rel="stylesheet">
		<style type = "text/css">
        body
        {
            font-family: sans-serif; font-size: 14px; width: 800px; margin: 0 auto; padding: 10px; bgcolor: "silver"
        }
        .error{
        color: red; font-size: 20px
        }
        input[type=submit]{
        font-size: 24px;
        }
</style>

        <body bgcolor = "white">
        <title>Presentation Manager</title>

        <br>
	</head>
	{% block content %}
	{% endblock %}

<footer>
  <br><br><br>
  <a href = "/admin">Admin</a><br>
  <a href = "/">Home</a><br>
</footer>

</html>
