{% extends "main.html" %}
{% block maincontent %}
        <div id="navigation">
      
       </div>
<!-- End Main Nav -->
  </div>
</div>
<!-- End Header -->

<!-- Container -->
<div id="container">
  <div class="shell">     

  <!-- Message OK -->   
    <div class="msg msg-ok">
      <p><strong>Welcome please, <a href="/activate">Activate your account</a> or <a href="/login">Login</a></strong></p>
      
    </div>

    <!-- End Message OK -->   
    <!-- Content -->
      <div id="content">
      </div>   
    </div>
  </div>
          
{% endblock %}
