{% extends "base.html" %}
{% block content %}
<body>
  <div class ="row-fluid header">
    <div class="col-xs-7">
      <label>Presentation Manager Home Page</label>
    </div>

    <div class="col-xs-1">
      <a href = "/">Home</a>
    </div>

      {% if user %}
      <div class="col-xs-2">
        <label>{{ user }}</label>
      </div>
      <div class="col-xs-1">
        <a href = "/logout">logout</a>
      </div>
      <div class="col-xs-1">
        <a href = "/admin">Admin</a>
      </div>
      {% else %}
      <a href = "/login">Login</a>
      {% endif %}
    </div>
  </div>
  {{error}}
  <br>
  <a href = "/admin">Admin</a><br>
  <a href = "/register_user">Register as a conference speaker</a><br>
  <a href = "/upload_presentation">Upload Presentation</a><br>
</body>

{% endblock %}
