
{% extends "head.html" %}
{% block content %}
        <h1>Login</h1>
    <div>
        <form method = "post">
          <div class = "col-xs-4">
            <label>Email
              <input type = "text" name = "email" value = {{email}}><label style="color: red">{{error_email}}</label>
            </label>
          </div>
          <div class = "col-xs-4">
            <label>Password
              <input type = "password" name = "password" value = {{password_1}}><label style="color: red">{{error_password}}</label>
            </label>
          </div>
          <div class = "col-xs-4">
            <input type = "submit">
          </div>
        </form>
    </div>
    </body>
</html>
{% endblock %}
