{% extends "main.html" %}
{% block maincontent %}
        <div id="navigation">
      
       </div>
<!-- End Main Nav -->
  </div>
</div>
<!-- End Header -->

<!-- Container -->
<div id="container">
  <div class="shell">     

  <!-- Message Error -->
  {% if failed %}
		<div class="msg msg-error">
			<p><strong>{{ message }}</strong></p>
			
		</div>
		<!-- End Message Error -->
   {% endif %}
    <!-- Content -->
      <div id="content">
      <!-- Box -->
        <div class="box">
      <!-- Box Head -->
          <div class="box-head">
            <h2 class="left">Login</h2>
            
          </div>

          <!-- End Box Head --> 
          <!-- Form -->
            <div class="form">
            <form method="POST" action="/login">
                <p>
                  <span class="req"></span>
                  <label>Email <span></span></label>
                  <input type="email" name="email" value = "{{email}}" class="field size1"/>
                </p>  
                <p>
                  <span class="req"></span>
                  <label>Password<span></span></label>
                  <input type="password" name="password" value = "{{password}}" class="field size1"/>
                </p>  
                
             
            </div>
            <!-- End Form -->
            
            <!-- Form Buttons -->
            <div class="buttons">
              
              <input type="submit" class="button" value="Login" />
              <a href="/forgot">Forgot password</a>
            </form> 
            </div>
            <!-- End Form Buttons -->
          </form>
        </div>
        <!-- End Box -->          

      	</div>
        <!-- End content -->
              <div class="cl">&nbsp;</div>      
              </div>
    <!-- Main -->
            </div>
             <!-- End Shell -->
          </div>
          
{% endblock %}



