{% extends "main.html" %}
{% block maincontent %}
<script>$('#logs').toggleClass('active')</script>

<!-- Container -->
<div id="container">
  <div class="shell">

  <!-- Message OK -->
    {% if success %}
    <div class="msg msg-ok">
      <p><strong>{{ message}}</strong></p>
    </div>
    {% endif %}
    <!-- End Message OK -->
     <!-- Message Error -->
    {% if failed %}
    <div class="msg msg-error">
      <p><strong>{{ message }}</strong></p>
    </div>
    {% endif %}
    <!-- End Message Error -->
    <!-- Content -->
      <div id="content">
        <!-- Box -->
        <div class="box">
      <!-- Box Head -->
          <div class="box-head">
            <h2 class="left">System Logs</h2>

          </div>

          <!-- End Box Head -->
        <!-- Table -->
         <div class="log-table">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="sortable">
              <tr>
                <th width="100%">Event</th>
                
                
                <th></th>
              </tr>
            {% for log in logs %}
              <tr>
                <td>{{log}}</td>

              </tr>
              {% endfor %}
              </table>
              </div>
               <!-- Close Table-->
            </div>
            <li><a href="{{uri_for('logs',offset=offset)}}"><span>Offset</span></a></li>
           
             <!-- End Box -->
      </div>
    </div>
  </div>

{% endblock %}
