<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}Presentation Manager{% endblock %}</title>
    <style>

      input {
        display: block;
      }
    </style>
  </head>

  <body>

  <div class="content">
    <div class = "container">
      <div class="row-fluid">
    {% block maincontent %}

    {% endblock %}
  </div>

  <div>
    <footer>
      <hr/>
      <p>
        {% if not user %}
          <a href="/login">Login</a>
        {% else %}
          Logged in as <span style="background-color: OldLace">{{ user.name }} | {{user.account_type}}</span> | <a href="/logout">Logout</a>
        {% endif %}
        |
        <a href="/">Home</a>
        |
        <a href="/activate">Activate Account</a>
        |
        <a href="/">Presenters</a> (login required)
        |
        <a href="/admin">Admin</a> (admin login required)

        <!--<a href="http://blog.abahgat.com/2013/01/07/user-authentication-with-webapp2-on-google-app-engine/">Tutorial</a>
        |
        <a href="http://github.com/abahgat/webapp2-user-accounts">Source code</a>
      </p>
      <p>
        Got questions? <a href="http://blog.abahgat.com/about">Get in touch</a>.
        <small>And if you want to <strong>donate</strong> a little something, <a href="http://abahgat.github.io/webapp2-user-accounts#donate">here</a> a few options.</small>-->
      </p>
    </footer>
  </div>


  </body>
</html>
