{% extends "main.html" %}
{% block maincontent %}
<script>$('#sessions').toggleClass('active')</script>
<!-- Container -->
<div id="container" >
  <div class="shell">
    <!-- Message OK -->
    {% if success %}
    <div class="msg msg-ok">
      <p><strong>{{ message}}</strong></p>
    </div>
    {% endif %}
    <!-- End Message OK -->
    <!-- Message Error -->
    {% if failed %}
    <div class="msg msg-error">
      <p><strong>{{ message }}</strong></p>
    </div>
    {% endif %}
    <!-- End Message Error -->
    <br />
    <!-- Main -->
    <div id="main">
      <div class="cl">&nbsp;</div>
      <!-- Content -->
      <div id="content">
        {% if sessions %}
        <!-- Box -->
        <div class="box">
          <!-- Box Head -->
          <div class="box-head">
            <h2 class="left">Sessions for {{dotw}}&nbsp;|&nbsp;</h2>
            {% for date in dates %}<a href="{{uri_for('session_by_date',date=date)}}">{{date}}</a>{% endfor %}
            <a href="{{uri_for('sessions')}}"><font color="FFFFFF">&nbsp;Back to Sessions</font></a>
          </div>
          <!-- End Box Head -->
          <!-- Table -->
          <div class="table">
         <table width="100%" border="0" cellspacing="0" cellpadding="0" class="sortable">
              </div>
              <tr>
                
                <th ></th>
                <th ></th>
                <th ></th>
                <th ></th>
                <th colspan="2"class="ac">Session</th>
                <th colspan="2"class="ac">Presentation</th>
              </tr>
              <tr>
                <th width="30%">Session Name</th>
                <th width="15%">Room</th>
                <th width ="20%">Presenter Name</th>
                <th width = "15%" class="ac">Date and Time</th>
                
                <th width ="2%" class="ac">Edit</th>
                <th width ="2%" class="ac">Delete</th>
                <th width ="2%" class="ac">Edit</th>
                <th width ="2%" class="ac">Exists</th>
              </tr>
              {% for session in sessions %}
              <tr>
                <td>{{session.name}}</td>
                <td>{{session.room}}</td>
                <td>
                      {{session.presenter[0]}}, {{session.presenter[1]}}
                </td>
                <td class="ac">{{session.date}} {{session.time}}</td>
                      <!-- Session Edits -->
              
                <td class="ac">
                <form action="/admin/edit_session" method="POST">
                  <input type="hidden" name="session_key" value="{{session.key()}}"/>
                    <input type="image" src="/img/edit-icon.png" name="submit" alt="Submit" width="20" height="20"/>
                    </form>
                  </td>
                  <!-- Session Deletes -->
                  <td class="ac">
                  <form action="/admin/delete_session" method="POST">
                    <input type="hidden" name="session_key" value="{{session.key()}}">
                      <input type="image" src="/img/delete-icon.png" name="submit" alt="Submit" width="20" height="20"/>
                    </form>
                  </td>
                <td class="ac"> 
                <form action="/default" method = "POST">
                
                <input type="hidden" name="user_id" value="{{session.user_id}}">
                <input type="image" src="/img/presentation_icon.png" name="submit" alt="Submit" width="25" height="25"/>
                </form></td>
                <!-- Presentation URL -->
                <!-- Download Presentation -->
                {% if session.blob_store_key == None %}
                <td class="ac" ><img src = "/img/thumb-down.png" width="20" height ="20" alt = "No File"></a></td>
                {% else %}
                <td class="ac" ><img src = "/img/thumb-up.png" width="20" height ="20" alt = "File"></a></td>
                 {% endif %}
                </form>
          
                  </tr>
                  {% endfor %}
                </table>
              </div>
              <!-- Close Table-->
            </div>
            {% endif %}
            <!-- End Box -->
        <!-- End content -->
        <div class="cl">&nbsp;</div>
      </div>
      <!-- Main -->
    </div>
    <!-- End Shell -->
  </div>
  <!-- End Container -->
  {% endblock %}