{% extends "main.html" %}
{% block maincontent %}
        <div id="navigation">
      <ul>
          <li><a href="/super_admin" class="active"><span>Super Administration</span></a></li>
          <li><a href="/admin/manage_sessions"><span>Manage Sessions</span></a></li>
          <li><a href="/admin/manage_users"><span>Manage Users</span></a></li>
          <li><a href="/admin/update_dropbo"><span>Drop Box Utilities</span></a></li>
      </ul>
       </div>
<!-- End Main Nav -->
  </div>
</div>
<!-- End Header -->

<!-- Container -->
<div id="container">
  <div class="shell">     

  <!-- Message OK -->   
    <div class="msg msg-ok">
      <p><strong>Welcome Steven, would you like to play a game? or<a href = "/super_admin/manage_users">Manage Admin Accounts</a><br></strong></p>
      
    </div>

    <!-- End Message OK -->   
    <!-- Content -->
      <div id="content">
      </div>   
    </div>
  </div>
          
{% endblock %}

