{% extends "main.html" %}
{% block maincontent %}
<script>$('#admins').toggleClass('active')</script>

<!-- Container -->
<div id="container">
  <div class="shell">     

  <!-- Message OK -->   
    <div class="msg msg-ok">
      <p><strong>Welcome Steven, would you like to play a game? or <a href = "/super_admin/manage_users">Manage Admin Accounts</a><br></strong></p>
      
    </div>

    <!-- End Message OK -->   
    <!-- Content -->
      <div id="content">
      </div>   
    </div>
  </div>
          
{% endblock %}
