<!DOCTYPE html>

<html>
    <head>

        <title>CEAVCO Equipment List</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <head>
            {{manufacturer}} {{model}}
        <br>
        </head>
        <body>
            <a href = "{{man_url}}">Manual</a><br>
            <a href = "/qc_procedure">QC Procedure</a><br>
            <a href = "/accessories">Accessories</a><br>
            <a href = "/report">Report Issue</a><br>
        </body>
</html>
