{% extends "head.html" %}
{% block content %}
    <h1>
        Manage Users
    </h1>
    <h2>
        Super users
    </h2>

      {% for super_user in super_users %}
        <div class = "col-xs-3"><label>{{super_user.user_firstname}}</label></div>
        <div class = "col-xs-3"><label>{{super_user.user_lastname}}</label></div>
        <div class = "col-xs-3"><label>{{super_user.user_email}}</label></div>
          {% if super_user.user_firstname  %}
          <div class = "col-xs-3"><a href = "/delete_user/{{super_user.user_email}}">delete</a></div>
          {% else %}
          <div class = "col-xs-3"></div><br>
          {% endif %}
          <br><br>
     {% endfor %}
    <div>
      <br>
     <h2>
       Add new super user
     </h2>
    </div>
      <form  method = "post">
        <div class = "col-xs-3">
          <label>First Name</label>
          <input type = "textbox" name = "first_name" value = {{first_name}}>
          <label style="color: red">{{error_user_name}}</label>
        </div>
        <div class = "col-xs-3">
          <label>Last Name</label>
          <input type = "textbox" name = "last_name" value = {{last_name}}>
          <label style="color: red">{{error_user_name}}</label>
        </div>
        <div class = "col-xs-3">
          <label>Email</label>
          <input type = "textbox"rows="4" cols="100" name = "email" value = {{email}}>
          <label style="color: red">{{error_email}}</label>
        </div>
        <div class = "col-xs-3">
          <label>Super user</label>
          <input type = radio name = "user_type" value = "super_user" checked>
        </div>

        <br>
        <br>
        <div>
            <input type = "submit">
        </div>
      </form>

    {% endblock %}
