{% extends "main.html" %}
{% block maincontent %}
<script>$('#utilities').toggleClass('active')</script>

<!-- Container -->
<div id="container">
  <div class="shell">

  <!-- Message OK -->
    {% if success %}
    <div class="msg msg-ok">
      <p><strong>{{ message}}</strong></p>
    </div>
    {% endif %}
    <!-- End Message OK -->
     <!-- Message Error -->
    {% if failed %}
    <div class="msg msg-error">
      <p><strong>{{ message }}</strong></p>
    </div>
    {% endif %}
    <!-- End Message Error -->

    <!-- Main -->
    <div id="main">
      <div class="cl">&nbsp;</div>
    <!-- Content -->
      <div id="content">
          <!-- Box -->
        <div class="box">
      <!-- Box Head -->
          <div class="box-head">
            <h2 class="left">Advanced Utilities</h2>

          </div>
        <form action="/utilities/build_upload_dropbox/" method="POST">

                    <input type="image" src="/img/dropbox-icon.jpg" name="submit" alt="Submit" width="40" height="40"/><strong>Copy presentations to DropBox</strong>
                  </form>
         <form action="/utilities/re_initialize_upload_status/" method="POST">

                    <input type="image" src="/img/reset.png" name="submit" alt="Submit" width="40" height="40"/><strong>Reset DropBox Flag in SessionData (reset uploads)</strong>
                  </form>
        <form action="/db_oauth/dropbox-auth-start" method="GET">

                   <input type="image" src="/img/oauth2-icon.png" name="submit" alt="Submit" width="40" height="40"/><strong>Authorize DropBox Access</strong>
                   {% if access_token %}
                   <span><strong> | DropBox Authorized |</strong></span>
                   {% else %}
                   <span><strong> | DropBox not authorized |</strong></span>
                   {% endif %}
        </form>
        {% if access_token %}

        <form action="/db_oauth/dropbox-auth-revoke" method="GET">

               <input type="image" src="/img/delete-icon.png" name="submit" alt="Submit" width="40" height="40"/><strong>Revoke Access</strong>
        </form>
        {% endif %}

      </div>
        <!-- End Box -->
               <div class="box">
            <!-- Box Head -->
            <div class="box-head">
              <h2>Upload Session Data via CSV</h2>
            </div>
            <!-- End Box Head -->
            <form action="{{data_upload_url}}" method="POST" enctype="multipart/form-data">
              <!-- Form -->
              <div class="form">
                <p>
                  <label>CSV Upload<span></span></label>
                  <input type="file"  name="file"/>
                </p>
              </div>
              <!-- End Form -->
              <!-- Form Buttons -->
              <div class="buttons">
                <input type="submit" class="button" value="Upload Session Data" />
              </div>
              <!-- End Form Buttons -->
            </form>
          </div>
          <!-- End Box -->










          </div>
        <!-- End content -->
              <div class="cl">&nbsp;</div>
              </div>
    <!-- Main -->
            </div>
             <!-- End Shell -->
          </div>

        <!-- End Container -->

{% endblock %}
